/* styles.css or in <style> tag of a component */
:root {
  --btn-blue: #0088CE;
  --btn-black: #000000;
  --btn-gray: #939598;
}

#app {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 1500px) {
  * {
    font-size: 0.9rem;
    font-weight: 500 !important;
  }
}

@media (min-width: 1500px) {
  * {
    font-size: 1rem;
    font-weight: 500 !important;
  }
}
